.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  
}

nav {
  display: flex;
  color: aliceblue;
  background-color: rgb(42, 42, 42);
  border-radius: 25px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-one {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divaboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.divtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  padding: 0px 50px;
}

.sectiontwo {
}

.sectionthree {
}

section img {
  width: 400px;
  height: 400px;
  border: 10px solid rgb(42, 42, 42);
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(104, 0, 169);
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infos {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer {
  background-color: rgb(30, 2, 47);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h1 {
  font-size: 25px;
  padding: 20px;
}

footer img {
  width: 40px;
  height: 40px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.divfooter {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding-bottom: 25px;
}

/* #foto-gabi::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  z-index: -1;
  -webkit-animation-name: gradient-shadow;
  animation-name: gradient-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px rgb(104, 0, 169),
      0 0 4px 2px rgb(104, 0, 169);
    box-shadow: 0 0 17px 3px rgb(104, 0, 169), 0 0 4px 2px rgb(104, 0, 169);
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px rgb(9, 0, 137), 0 0 4px 2px rgb(9, 0, 137);
    box-shadow: 0 0 17px 3px rgb(9, 0, 137), 0 0 4px 2px rgb(9, 0, 137);
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ff0191, 0 0 4px 2px #ff0191;
    box-shadow: 0 0 17px 3px #ff0191, 0 0 4px 2px #ff0191;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px rgb(104, 0, 169),
      0 0 4px 2px rgb(104, 0, 169);
    box-shadow: 0 0 17px 3px rgb(104, 0, 169), 0 0 4px 2px rgb(104, 0, 169);
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px rgb(9, 0, 137), 0 0 4px 2px rgb(9, 0, 137);
    box-shadow: 0 0 17px 3px rgb(9, 0, 137), 0 0 4px 2px rgb(9, 0, 137);
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ff0191, 0 0 4px 2px #ff0191;
    box-shadow: 0 0 17px 3px #ff0191, 0 0 4px 2px #ff0191;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
} */
