/* CONFIGURAÇÕES GLOBAIS DA PÁGINA */

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 20%, rgba(66,0,96,1) 70%, rgba(108,0,157,1) 100%);
  background-attachment: fixed;
  
}

/* NAVEGAÇÃO / HEADER */


nav {
  display: flex;
  justify-content: center;
  background-color: rgb(42, 42, 42);
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0%;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

#nav-one:hover {
  padding: 10px 10px; 
  background-color: rgb(224, 180, 255);
  color: black;
  border-radius: 20px;
  font-weight: bolder;
}

#nav-two:hover {
  padding: 10px 10px; 
  background-color: rgb(224, 180, 255);
  color: black;
  border-radius: 20px;
  font-weight: bolder;
}

#nav-three:hover {
  padding: 10px 10px; 
  background-color: rgb(224, 180, 255);
  color: black;
  border-radius: 20px;
  font-weight: bolder;
}

/* MAIN CONTAINER */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* SECTION PRINCIPAL */

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color: aliceblue;

}

#section-one{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;

}

#foto-gabi{
  /* minha foto */
  width: 400px;
  height: 400px;
  background-color: rgb(42, 42, 42);
  border-radius: 50%;
}



.div-section-one {
  display: flex;
  flex-direction: column;
  padding: 100px;
 
}

#intro{
  display: flex;
  flex-direction: row;
}

#separação{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 60px;
}








/* SEGUNDA SECTION */


div h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}



.div-section-two{
  display: flex;
  flex-direction: column;
  align-items: center;
}











/* TERCEIRA SECTION*/


#section-three{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px;

}




.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 3%;
  height: 3%;

}








/* FOOTER */




footer {
  background-color: rgb(42, 42, 42);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
}

footer h1 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
}

footer img {
  width: 35px;
  height: 35px;
}

.divfooter {
  display: flex;
  justify-content: center;
  padding-left: 450px;
  padding-right: 450px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
  gap: 10px;
}

.footer-titulo {
  font-weight: bold;
  font-size: 13px;
}
